<% layout("/layouts/boilerplate") %>
<body>
  <h1>Your Wishlist</h1>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% const wishlistListings = [ { _id: "653d68101bd8857204c550cf", title:
    "Beachfront Paradise", image: { url:
    "https://res.cloudinary.com/dnraxy1tg/image/upload/v1698523152/wanderlust_DEV/msspedbgbwc1spd78mb7.avif"
    }, price: { $numberInt: "2000" } }, { _id: "653d686d1bd8857204c550ee",
    title: "Rustic Cabin by the Lake", image: { url:
    "https://res.cloudinary.com/dnraxy1tg/image/upload/v1698523244/wanderlust_DEV/el4ps0swbycjbdlkuveu.avif"
    }, price: { $numberInt: "900" } } ]; %> <% for (let listing of
    wishlistListings) { %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card col listing-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="listing image"
          style="height: 20rem"
        />
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b> <br />
            &#8377; <%= listing.price.$numberInt.toLocaleString("en-IN") %> /
            night
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</body>
